a {
  text-decoration: none;
}

a:hover {
  opacity: 0.9;
}

a:focus {
  color: #1b2b5f;
}

.container {
  padding: 0 70px;
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  padding-top: 4rem;
}

.header__iner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-item {
  margin-left: 5rem;
}

.header__menu-item:last-child {
  margin-left: 6rem;
}

.header__menu-link {
  font-size: 1.4rem;
}

.header__menu-link:hover {
  color: #ffc87a;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.logo {
  font-size: 2.3rem;
  font-weight: 600;
}

.logo:focus {
  color: #1b2b5f;
}

.logo__text {
  color: #ffc87a;
}

.banner {
  padding-top: 10rem;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.banner__headding {
  font-size: 4.5rem;
  color: #1b2b5f;
  font-weight: 900;
  margin-bottom: 2rem;
}

.banner__decs {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4;
  word-break: break-word;
  margin-bottom: 3.5rem;
}

.banner__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  outline: none;
  margin: 0 20px;
  font-size: 1.4rem;
  text-align: center;
  color: .btn #1b2b5f;
  padding: 1.5rem 3rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.btn--border {
  border: 2px solid currentColor;
}

.btn--rounded {
  border-radius: 100px;
}

.btn--primary {
  background-color: #ffc87a;
}

.category {
  margin-top: 180px;
  font-size: 1.4rem;
}

.category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 98%;
  height: 350px;
  border-radius: 20px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.category-item {
  margin-left: 10px;
}

.category__details {
  color: #a0a3b0;
  width: 100%;
  display: inline-block;
  padding-left: 10px;
}

.category__name {
  padding: 40px 0px 20px 10px;
  color: #1b2b5f;
}

.slick-prev {
  left: -40px;
}

.slick-arrow {
  position: absolute;
  height: 40px;
  width: 70px;
  top: 35%;
  background-color: #ffc87a;
  z-index: 3;
  border: none;
  font-weight: 600;
  cursor: pointer;
  border-radius: 30px;
}

.slick-next {
  right: -40px;
}
/*# sourceMappingURL=style.css.map */