$primary-color:#ffc87a;
.header{
    padding-top: 4rem;
    &__iner{
        display: flex;
        justify-content:space-between;
        align-items: center;

    }
}
.logo{
font-size: 2rem;
font-weight: 600;
t
}